:root {
	--primary: #383300;
	--secondary: oklch(from var(--primary) l c h / 0.85);
	--bgColor: #ffea00;
	--code: #f8f8f8;
	--blendMode: multiply;

	--text: var(--primary);

	--mainGrid: [top-start] 'nav nav nav nav nav' [top-end bottom-start]
		'. . main . toc' [bottom-end] / 1fr 2fr clamp(0%, 50%, 50rem) 2fr 4fr;

	--navGrid: 'top logo nav . tocHeader' / 1fr 2fr clamp(0%, 50%, 50rem) 2fr
		4fr;

	--bg: var(--bgColor);

	--sans: 'Figtree', sans-serif;
	--serif: 'Literata', serif;
	--mono: 'JetBrains Mono', monospace;

	@media (prefers-color-scheme: dark) {
		--primary: #e5d51a;
		--bgColor: #101001;
		--code: #111;
		--blendMode: screen;
	}

	@media (width < 1320px) {
		--mainGrid: [top-start] 'nav nav nav nav' [top-end bottom-start]
			'. main . toc' [bottom-end] / 1rem clamp(0%, 60vw, 50rem) 2rem 1fr;

		// prettier-ignore
		--navGrid: 
			[top-start] 
			'top logo . .'
			[top-end nav-start]
			'. nav . tocHeader' 
			[nav-end] 
			/ 1rem clamp(0%, 60vw, 50rem) 2rem 1fr ;
	}

	@media (width < 920px) {
		--mainGrid: 'main toc' 100dvh / 100vw 100vw;

		// prettier-ignore
		--navGrid: 
			[top-start] 
			'logo' 
			[top-end nav-start]
			'nav' 
			[nav-end] 
			/ 1fr ;
	}
}

html {
	line-height: 2rem;

	@media (width < 920px) {
		scroll-snap-type: x mandatory;
	}
}

html,
input {
	box-sizing: border-box;
	interpolate-size: allow-keywords;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-optical-sizing: auto;
	scroll-behavior: smooth;

	color: var(--text);
	font-family: var(--sans);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

*:focus-visible {
	outline: 2px solid var(--primary);
	border-radius: 0.25rem;
}

body {
	display: grid;
	grid: var(--mainGrid);
	gap: 1.5rem;

	background: var(--bg);

	margin: 0;

	color: var(--text);

	@media (width < 920px) {
		width: 200vw;
		height: 100dvh;
		gap: 0;
	}
}

main {
	grid-area: main;
	margin-top: -3rem;
	padding-bottom: 16rem;

	@media (width < 920px) {
		scroll-snap-align: start;
		scroll-margin-left: 1.5rem;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 1.5rem;
		scroll-behavior: smooth;
	}

	a {
		text-decoration: underline;
	}
}

aside {
	grid-area: toc;

	display: grid;

	position: sticky;
	top: 0;
	margin-top: -16rem;
	padding: 16rem 0 16rem;
	height: 100dvh;

	overflow-y: auto;

	@media (width < 920px) {
		scroll-snap-align: start;
		padding: 1.5rem;
		scroll-margin-right: 0;
		overflow-x: hidden;
	}

	ul {
		font-family: var(--sans);
		font-weight: 600;
		padding-left: 0;
		font-size: 1.5rem;
		letter-spacing: -0.015em;
		font-weight: 600;

		li {
			margin-top: 2rem;
			a {
				scroll-margin-top: 7rem;
			}
		}

		ul {
			font-size: 1rem;

			li {
				margin-top: 1rem;
			}

			ul {
				font-size: 0.875rem;
				letter-spacing: 0;

				li {
					margin-top: 1rem;
				}

				ul {
					font-weight: 500;

					li {
						margin-top: 0rem;
					}
				}
			}
		}
	}
}

nav {
	grid-area: nav;

	background: linear-gradient(
		oklch(from var(--bgColor) l c h / 0.98) 60%,
		oklch(from var(--bgColor) l c h / 0)
	);

	z-index: 1;

	gap: 1.5rem;

	padding: 3rem 0;

	align-items: end;

	font-weight: 600;
	font-size: 1.5rem;
	letter-spacing: -0.015em;
	font-weight: 600;

	display: grid;
	grid: var(--navGrid);

	@media (width < 1320px) {
		row-gap: 0.5rem;
		width: 100vw !important;
		overflow: hidden;
	}

	@media (width < 920px) {
		row-gap: 0;
	}

	.top {
		grid-area: top;
		height: 40vh;

		@media (width < 920px) {
			height: 0;
		}
	}

	.title {
		opacity: 0.7;

		@media (width < 920px) {
			display: none;
		}
	}

	span.logo {
		grid-area: logo;

		font-weight: 700;
	}

	a {
		text-decoration: none;
	}

	ul {
		grid-area: nav;

		display: flex;
		gap: 2rem;

		@media (width < 920px) {
			gap: 1rem;

			font-size: 0.875rem;
			letter-spacing: 0;
		}
	}

	span.toc {
		grid-area: tocHeader;
		color: var(--secondary);

		@media (width < 920px) {
			display: none;
		}
	}
}

// global

svg {
	display: inline-block !important;
	path {
		fill: var(--primary);
	}
	rect {
		stroke: var(--primary);
	}
}

p {
	margin-top: 0.75rem;
	margin-bottom: 1.25rem;
	font-family: var(--serif);
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 2rem;
	mix-blend-mode: var(--blendMode);

	hyphens: auto;
	word-break: break-word;

	@media (width < 920px) {
		font-size: 1rem;
	}
}

pre,
code {
	font-family: var(--mono);
	font-size: 1.0625rem;
	font-weight: 400;
	line-height: 2rem;
	background: var(--code);
	border-radius: 2px;
	mix-blend-mode: var(--blendMode);

	@media (width < 920px) {
		font-size: 0.9375rem;
	}
}

pre {
	margin-left: -1.125rem;
	margin-right: -1.125rem;
	padding: 1rem 1.125rem;

	overflow-x: auto;

	@media (width < 920px) {
		margin-left: -.75rem;
		margin-right: -.75rem;
		padding: .5rem .5rem;
	}
}

code {
	outline: 2px solid var(--code);
	margin: 0 0.125rem;
	display: inline-block;
	line-height: 1.75rem;
}

pre:has(code) code {
	background: none;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--sans);
	font-weight: 700;
}
h1 {
	margin-top: 16rem;
	scroll-margin-top: 16rem;
	scroll-margin-left: 3rem;
	margin-bottom: 4rem;
	letter-spacing: -0.03em;
	font-weight: 600;
	font-size: 6rem;

	@media (width < 920px) {
		font-size: 3.5rem;
		margin-bottom: 2rem;
	}
}

h2 {
	margin-top: 12rem;
	scroll-margin-top: 12rem;
	scroll-margin-left: 3rem;
	margin-bottom: 2rem;
	letter-spacing: -0.03em;
	font-weight: 600;
	font-size: 4rem;

	@media (width < 920px) {
		font-size: 2.5rem;
		margin-bottom: 1.5rem;
	}

	&:has(+ h3) + h3 {
		margin-top: 3rem;
	}
}

h3 {
	margin-top: 8rem;
	scroll-margin-top: 8rem;
	scroll-margin-left: 3rem;
	margin-bottom: 2rem;
	letter-spacing: -0.03em;
	font-weight: 600;
	font-size: 2.5rem;

	@media (width < 920px) {
		font-size: 1.75rem;
		margin-bottom: 1.5rem;
	}

	&:has(+ h4) + h4 {
		margin-top: 2rem;
	}
}

h4 {
	margin-top: 5rem;
	scroll-margin-top: 5rem;
	scroll-margin-left: 3rem;
	margin-bottom: 1rem;
	letter-spacing: -0.015em;
	font-weight: 600;
	font-size: 1.25rem;

	@media (width < 920px) {
		font-size: 1.125rem;
	}

	&:has(+ h4) + h4 {
		// margin-top: 2rem;
	}
}

a {
	color: var(--secondary);

	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
